.text
  font-size: 18px
  color: #fff
  width: 60%
  &__opacity
    height: 100%
    width: 100%
    background-color: rgba(0,0,0,.4)
    display: flex
    justify-content: center
    text-align: center
    align-items: center
  &__container
    background-image: url('./img/background.jpg')
    height: 100vh
