.footer
  background: transparent
  position: absolute
  bottom: 0
  text-align: center
  width: 100%
  box-sizing: border-box
  display: flex
  justify-content: space-between
  align-items: center
  padding: 30px
.descr
  text-align: center
  color: #fff
  margin: 0 auto